<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="jvwong" />
            
    <!-- Add d3 library -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>      
    <script type="text/javascript" src="/static/mousy/js/d3.legend.js"></script>
               
    <!-- Add jQuery library -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        
    <link rel="stylesheet" type="text/css" href="/static/mousy/css/base.css">
        
    <title>Mousy{% block title %}{% endblock title %}</title>

    {% block head %}
    {% endblock head %}
</head>

<body>
    <div id="header">
	    
      {% block navigation %}
      <div id="navigation">
	    
        <div id="nav-links">
          {% block navLinks %}
              <div class="navlink"><a href = "{% url 'mousy_economie' %}">Economie</a></div>
              <div class="navlink"><a href = "{% url 'mousy_household' %}">Household</a></div>
              <div class="navlink"><a href = "{% url 'mousy_contact' %}">Contact</a></div>
              <div class="navlink"><a href = "{% url 'admin:index' %}">Admin</a></div>
          {% endblock navLinks %}
        </div>
	    
      </div>
      {% endblock navigation %}

    </div>  

 	
    <div id="content">
	    {% block content %}
	    {% endblock content %}   
    </div>

</body>
</html>