<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="jvwong" />
            
    <!-- Add d3 library -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>      
    <script type="text/javascript" src="/static/mousy/js/d3.legend.js"></script>
               
    <!-- Add jQuery library -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        
    <link rel="stylesheet" type="text/css" href="/static/mousy/css/base.css">
        
    <title>Mousy{% block title %}{% endblock title %}</title>

    {% block head %}
    {% endblock head %}
</head>

<body class={% block bodyclass %}{% endblock bodyclass %}>
    <div id="header">
	    
	{% block navigation %}    
	    <div id="navigation">
	    
		<div id="nav-links">
		    <ul>
			{% block navLinks %}			
			    <li><a href = "{% url 'mousy_economie' %}">Economie</a></li>
			    <li><a href = "{% url 'mousy_household' %}">Household</a></li>
			    <li><a href = "{% url 'mousy_contact' %}">Contact</a></li>
			    <li><a href = "{% url 'admin:index' %}">Admin</a></li>
			{% endblock navLinks %}				
		    </ul>
		</div>
		<div id="nav-icon">
		</div>
	    
	    </div>    
	{% endblock navigation %}
            <div id="session">		
		{% if user.is_authenticated %}  
		    <p>
			<span>Hello&nbsp</span>
			<span>{{ user.username }}</span>
			<span>!</span><br>
			<a href="{% url 'mousy_users_logout' %}">Logout</a>			
		    </p>	    
		{% else %}
		    <p>
			<a href="{% url 'mousy_users_login' %}">Login</a>
			<span>&nbsp;or&nbsp;</span>
			<a href="{% url 'mousy_users_signup' %}">Sign&nbspUp</a>	
		    </p>		    
		{% endif %}
	    </div>	    
	{% block header %}
	
	{% endblock header%}
    </div>  

 	
    <div id="content">
	    {% block content %}
	    {% endblock content %}   
    </div>
      
	
    <div id="footer">
	  {% block footer %}  
	   <p>&copy; JRayWo Inc.</p>
	  {% endblock footer %}    	
    </div>
  
</body>
</html>