{% extends 'mousy/base.html' %}
{% block title %} | {{ title }}{% endblock title %}
{% block head %}    
{% endblock head %}

{% block content %}
<div id='contact-details'>
  <h2>Jeffrey V Wong, Ph.D.</h2>
  
  <p>
    2285 Bur Oak Avenue<br>
    Unit 69<br>
    Markham ON CAN<br>
    L6E 0B9<br>
    <br>
    tel: 647 886 0781 (mobile), 905 554 0781 (home)<br>
    email: jvwong [at] gmail [dot] com<br>
    web: <a href="http://www.jeffreyvwong.ca">www.jeffreyvwong.ca</a> 
  </p>
</div>
{% endblock content %}

