{% extends 'mousy/base.html' %}
{% block head %}

    <!-- Add crossfilter library -->
    <script type="text/javascript" src="/static/mousy/js/crossfilter.js"></script>
        
    <!--Add dc.js library -->
    <script type="text/javascript" src="/static/mousy/js/dc.js"></script>
    <link rel="stylesheet" type="text/css"  href="/static/mousy/css/dc.css" />
    
    <!--Add Bootstrap library -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"  />
  
    <title>Mousy{% block title %} | {{ title }}{% endblock title %}</title>
 
    <script type="text/javascript">
    $(document).ready(function(){
        
        // Create the dc.js chart objects & link to div
        var dayChart = dc.barChart("#dc-day-chart");
        var whoChart = dc.barChart("#dc-who-chart");
        var monthChart = dc.lineChart("#dc-month-chart");
        var dataTable = dc.dataTable("#dc-table-graph");
        
        var div = d3.select("body").append("div")   
                                    .attr("class", "tooltip")               
                                    .style("opacity", 0);
        var dtgFormat2 = d3.time.format("%a %e %b");
        d3.csv('/static/mousy/data/grocery.csv', function(error, data_list){
            
            data = data_list;  
             
            var parseDate = d3.time.format("%Y-%m-%d");
            data.forEach(function(d) {
                d.date = parseDate.parse(d.date);
                d.month = d3.time.month(d.date);
                d.amount = +d.amount;
                d.detail = d.detail;
                d.who = d.who;
                //console.log(d.amount);
            });
           
            // Run the data through crossfilter and load our 'facts'
            var facts = crossfilter(data);
            
            
            // Create dataTable dimension
            var dayDimension = facts.dimension(function(d) { return d3.time.day(d.date); })
            var dayDimensionGroup = dayDimension.group()
                    .reduceSum(function(d) { return d.amount; });                
           
            var whoDimension = facts.dimension(function(d) { return d.who; })
            var whoDimensionGroup = whoDimension.group()
                    .reduceSum(function(d) { return d.amount; });                
            
            var monthDimension = facts.dimension(function(d) {
                                                    return d.month; })
            var monthDimensionGroup = monthDimension.group()
                                                    .reduceSum(function(d) { return d.amount; }); 
            
                                                  
            var margins_template = {top: 10, right: 10, bottom: 80, left: 40};
            
            var span_height = 350;
            var span6_width = 450;
            var span12_width = 800;
                       
            // Setup the charts
            // Table of earthquake data
            dataTable.width(span12_width )
                .dimension(dayDimension)
                .group(function(d) {
                    return "expenditures";
                })
                .size(100)
                .columns([
                    function(d) { return d.date.toDateString(); },
                    function(d) { return d.amount; },
                    function(d) { return d.detail; },
                    function(d) { return d.who; }                    
                ]);
        
            
            var start_dayChart = d3.time.day.offset(d3.extent(data, function(d){ return d.date; })[0], -1);
            var end_dayChart  = d3.time.day.offset(d3.extent(data, function(d){ return d.date; })[1], +1);
      
            //// time graph
            dayChart.width(span12_width)
                    .height(span_height)
                    .margins(margins_template)
                    .dimension(dayDimension)
                    .group(dayDimensionGroup)
                    .transitionDuration(500)
                    .centerBar(true)
                    .gap(2)
                    .xUnits(d3.time.days)
                    .x(d3.time.scale().domain([start_dayChart, end_dayChart]) )
                    .elasticY(true)
                    .xAxis();
         
            // time graph
            whoChart.width(span6_width)
                        .height(span_height)
                        .margins(margins_template)
                        .dimension(whoDimension)
                        .group(whoDimensionGroup)
                        .transitionDuration(500)
                        .brushOn(false)
                        .title(function(d){
                            return "Total: $" + d.value;
                        })
                        .centerBar(true)
                        .gap(65)
                        .elasticY(true)
                        .x(d3.scale.ordinal().domain(["", "jvw", "arw"]))
                                            .xUnits(dc.units.ordinal)
                        .xAxis();
            
            
           var start_monthChart = d3.time.month.offset(d3.extent(data, function(d){ return d.month; })[0], -1);
           var end_monthChart  = d3.time.month.offset(d3.extent(data, function(d){ return d.month; })[1], +10);
                 
           //// time graph
           monthChart.width(span6_width)
                    .height(span_height)
                    .margins(margins_template)
                    .dimension(monthDimension)
                    .group(monthDimensionGroup)
                    .transitionDuration(500)
                    .xUnits(d3.time.months)
                    .x(d3.time.scale().domain([start_monthChart, end_monthChart ]))
                    .elasticY(true)
                    .xAxis();
             
           // Render the Charts
           dc.renderAll();
        
           d3.select("#dc-day-chart .axis.x")
                .selectAll("text")
                .style("text-anchor", "end")
                .attr("dx", "-.8em")
                .attr("dy", ".15em")
                .attr("transform", function(d) {
                    return "rotate(-45)"
                });
        
            d3.select("#dc-month-chart .axis.x")
                .selectAll("text")
                .style("text-anchor", "end")
                .attr("dx", "-.8em")
                .attr("dy", ".15em")
                .attr("transform", function(d) {
                    return "rotate(-90)"
                });
        
        
        });
        
        
        
       
    });
        
    </script>
    <style type="text/css">
        #main-container{
            position: relative;
            top: 50px;
        }
        
        #main-container h4{
            font-weight: bold;    
        }
        
        #main-container .axis.x text{
            font-size: 1.3em;    
        }
        
        #dc-table-graph{
            width: 75%;
            border: groove;
        }
        
        #dc-table-graph th{
            text-align: center;
            width: 25%;
        }
        
        #dc-table-graph td{
            border: medium;
        }
        
        .dc-table-group{
            visibility: collapse;
            /*visibility: hidden;*/
        }

        #add-receipt{
            position: absolute;
            left: 50%;
            top: 1%;
        }    
    </style>
{% endblock head %}

{% block content %}     

     <h4><a id="add-receipt" href="/household/receipt">Add New Receipt (login required)</a></h4>                

    <div class='container' id='main-container'>
        <div class='content'>
            <div class='container'>
               <div class='row'>
                    <div class='span6' id='dc-day-chart'>
                        <h4>Daily Expenses</h4>
                        
                    </div>
                </div>
                
                <div class='row'>
                    <div class='span6' id='dc-month-chart'>
                        <h4>Monthly Expenses</h4>
                        
                    </div>
                    <div class='span6' id='dc-who-chart'>
                        <h4>Expenses by user</h4>
                        
                    </div>                    
                </div>
                <br>
                <br>
                <div class='row'>
                    <div class='span12' id='table-chart'>
                        <h4>Expense Details</h4>
                        <table class="table table-hover" id="dc-table-graph">
                            <thead>
                                <tr class="header">
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Detail</th>
                                    <th>Who</th>                                
                                </tr>                            
                            </thead>                        
                        </table>
                
                    </div>    
                </div>            
                
            </div>
        </div>
    </div>
    
{% endblock content %}



