{% extends 'mousy/base.html' %}
{% block title %} | {{ title }}{% endblock title %}
{% block head %}
    <style type="text/css">
	#receipt-table{
	    width: 100%; 
	}
	
	#receipt-table th{
	    /*width: 30%; */
	}
	
	#receipt-table th{
	    border: dotted thin;
	}
	
    </style>
{% endblock head %}

{% block content%}
       
    <h3>Add receipt</h3>
    
    <form action="/household/receipt" method="POST">
	
	<table id="receipt-table">
	    <thead>
		<tr class="header">
		    <th>category</th>
		    <th>entry</th>
		    <th>validation</th>
		</tr>		
	    </thead>
	    <tbody>
		<tr>
		    <td><label for="date">Date (YYYY-MM-DD)</label></td>
		    <td><input id="date" name="date" value="{{ valid.date }}"/></td>
		    <td>{% if error.date %} {{ error.date.message }} {% endif %}</td>
		</tr>
		<tr>
		    <td><label for="amount">Amount (X.XX)</label></td>
		    <td><input id="amount" name="amount" value="{{ valid.amount }}"/></td>
		    <td>{% if error.amount %} {{ error.amount.message }} {% endif %}</td>
		</tr>
		<tr>
		    <td><label for="detail">Detail</label></td>
		    <td><input id="detail" name="detail" value="{{ valid.detail }}"/></td>
		    <td>{% if error.detail %} {{ error.detail.message }} {% endif %}</td>
		</tr>
		<tr>
		    <td><label for="who">User</label></td>
		    <td><input id="who" name="who" value="{{ session.user.username }}" /></td>		    
		    <td>{% if error.who %} {{ error.who.message }} {% endif %}</td>
		</tr>
		
		
	    </tbody>		
	</table>
		
	<input type="submit" value="Submit"/>
    </form>
    
{% endblock content %}

