{% extends "mousy/base.html" %}
{% block title %} | User Profile{% endblock title %}
{% block head %}    
{% endblock head %}
{% block content %}

    <p>User Profile</p>
    
    <table>
        <tbody>
            <tr>
                <td>Username:</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>email:</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{ user.last_name }}</td>
            </tr>
            
        </tbody>
    </table>
    
{% endblock content %}