{% extends 'mousy/base.html' %}
{% block head %}
    
    <title>Mousy{% block title %} | {{ title }}{% endblock title %}</title>
 
    <!-- third-party javascript -->
    <script src="/static/mousy/js/crossfilter.js"></script>
    <script src="/static/mousy/js/dc.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    
    <!-- third-party stylesheets -->
    <link rel="stylesheet" type="text/css"  href="/static/mousy/css/dc.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"  />
  
    <!-- our javascript -->
    <script src="/static/mousy/js/household.js"></script>        

    <script>
        $(function () { household.initModule( $('#main-container') ); });
    </script>
{% endblock head %}

{% block content %}     

    <div id="sidebar">		
        {% if user.is_authenticated %}  
            User: {{ user.username }} (<a href="{% url 'mousy_users_logout' %}">Logout</a>)
                {% if perms.mousy.add_receipt %}
                    <span id="sidebar-add-receipt">---<a id="add-receipt" href="/household/receipt/add/">  Add receipt</a></span>
                {% endif %}
      {% else %}
              <p>
                  <a href="{% url 'mousy_users_login' %}">Login</a>
                  <span>&nbsp;or&nbsp;</span>
                  <a href="{% url 'mousy_users_signup' %}">Sign&nbspUp</a>	
              </p>		    
        {% endif %}
    </div>    
    <div class='container' id='main-container'></div>    
    
{% endblock content %}



