{% extends 'mousy/base.html' %}
{% block head %}

    <!-- Add crossfilter library -->
    <script type="text/javascript" src="/static/mousy/js/crossfilter.js"></script>
        
    <!--Add dc.js library -->
    <script type="text/javascript" src="/static/mousy/js/dc.js"></script>
    <link rel="stylesheet" type="text/css"  href="/static/mousy/css/dc.css" />
    
    <!--Add Bootstrap library -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"  />
  
    <title>Mousy{% block title %} | {{ title }}{% endblock title %}</title>
 
    <script type="text/javascript" src="/static/mousy/js/household.js"></script>
    
{% endblock head %}

{% block content %}     

    <div id="sidebar">		
        {% if user.is_authenticated %}  
            <p>User: {{ user.username }} (<a href="{% url 'mousy_users_logout' %}">Logout</a>)</p>
                
                {% if perms.mousy.add_receipt %}
                    <p><a id="add-receipt" href="/household/receipt/add/">Add receipt</a></p>
                {% endif %}   
        {% else %}
              <p>
                  <a href="{% url 'mousy_users_login' %}">Login</a>
                  <span>&nbsp;or&nbsp;</span>
                  <a href="{% url 'mousy_users_signup' %}">Sign&nbspUp</a>	
              </p>		    
        {% endif %}
    </div>
    <div class='container' id='main-container'>
        <div class='content'>
            <div class='container'>
               <div class='row'>
                    <div class='span6' id='dc-day-chart'>
                        <h4>Daily Expenses</h4>
                        
                    </div>
                </div>
                
                <div class='row'>
                    <div class='span6' id='dc-month-chart'>
                        <h4>Monthly Expenses</h4>
                        
                    </div>
                    <div class='span6' id='dc-who-chart'>
                        <h4>Expenses by user</h4>
                        
                    </div>                    
                </div>
                <br>
                <br>
                <div class='row'>
                    <div class='span12' id='table-chart'>
                        <h4>Expense Details</h4>
                        <table class="table table-hover" id="dc-table-graph">
                            <thead>
                                <tr class="header">
                                  <th>Date</th>
                                  <th>Amount</th>
                                  <th>Detail</th>
                                  <th>Who</th>
                                  <th>Detail</th>
                                  <th>Update</th>
                                  <th>Delete</th>
                                </tr>                            
                            </thead>                        
                        </table>
                
                    </div>    
                </div>            
                
            </div>
        </div>
    </div>
    
    
{% endblock content %}



