
/*----------------------------
	Global styles
-----------------------------*/

body{
  position: absolute;
  width: 100%;
  height: 100%;

}

a:link{
	color: #820000 ;
	text-decoration: none;
	outline: 0;	
}

a:visited{
	color: #820000 ;
	text-decoration:none;
}

p.indent{
	text-indent: 4em;
}

/*----------------------------
	Begin: header
-----------------------------*/

a.nav:link, a.nav:visited{
  color: #3f3c30;
  text-decoration: none;
  outline: 0;
}

@media (min-width: 1024px) {

  #navigation{
    position:static;
    background-color: #ddcf99;
    height: 120px;
  }

  #nav-links{
    position : absolute;
    top: 1em;
    left: 4em;
    font-size: 1.1em;
  }

  #sidebar{
    position: absolute;
    left: 4em;
    top: 50px;
  }

  #sidebar p{
    font-size: 1em;
  }

}

@media (max-width: 1024px) {

  #navigation{
    position:static;
    background-color: #ddcf99;
    height: 4em;
  }

  #nav-links{
    position: absolute;
    top: 0.5em;
    left: 2em;
    display: inline-block;
    font-size: 1.6em;
    min-width: 28em;
  }

  .navlink{
    float: left;
    padding-left: 2.5em;
  }

  #sidebar{
    position: absolute;
    top: 0.5em;
    left: 2em;
    margin-top: 1em;
    font-size: 1.6em;
    min-width: 28em;
  }

}

@media (max-width: 700px) {

  #navigation{
    position:static;
    background-color: #ddcf99;
    height: 4em;
  }

  #nav-links{
    position: absolute;
    top: 0.5em;
    left: 0em;
    display: inline-block;
    font-size: 2em;
    min-width: 28em;
  }

  .navlink{
    float: left;
    padding-left: 2.5em;
  }

  #sidebar{
    position: absolute;
    top: 0.5em;
    left: 0em;
    margin-top: 1em;
    font-size: 2em;
    min-width: 28em;
  }

}

/*----------------------------
	End: header
-----------------------------*/



/*----------------------------
      Begin: content 
-----------------------------*/
#content{
      clear: both;
      position: absolute;
      width: 100%;
      min-height: 700px;
      margin-bottom: 100px;
}
	
/*----------------------------
      End: content 
-----------------------------*/

/*----------------------------
      Begin: economie
-----------------------------*/
#page-title{
	text-align: center;
	text-decoration: underline;
}

.graph{
     /*border: dotted black thin;*/
     margin-left: 275px;     
}

.graph-title{
      text-align: left ;     
}

#parameters{
     /*border: dotted black thin;*/
     width: 250px;
     height: 450px;
     float: left;
     font-size: 0.7em;    
}

#clear-both{
     clear: both;
}

fieldset{
     width: auto;
}

button {
     position: absolute;
     right: 10px;
     top: 10px;
}

/* The axes */
.axis{
     font-size: 0.65em;
}
.axis path, .axis line {
     fill: none;
     stroke: #000000;
     stroke-width: 2px;
     shape-rendering: crispEdges;          
}
     
/* The path trend */
.line {
     fill: none;
     stroke: #820000;
     stroke-width: 4px;
}

.legend rect {
	       fill:white;
	       stroke:black;
	       opacity:0.8;
	  }
	  
	  
.slider-text{
	  border: 0;
	  color: #820000;
     }
     

.table-title{
     margin-left: 50px;
}

#summary{
     position: absolute;
     top: 50px;
     margin-left: 800px;
}

#summary table { 
     border-spacing:2px;
     font-size: 0.9em;
}

#summary table .summary-col{
     width: 150px;
}

#summary table th{
     background-color: gray;
}

#summary table th, td{
     border: 1px solid black;
     text-align: center;
     /*border-radius: 5px;*/
}

#summary table .benefit{
     background-color: #ddcf99;
     font-weight: bold;
}

#economie-blurb{
	position: relative;
	top: 10px;
	width: 70%;
	font-size: 0.85em;
}
      
/*----------------------------
     End: economie
-----------------------------*/


/*----------------------------
        Begin: household
-----------------------------*/


#main-container{
  position: absolute;
  top: 100px;
  left: 2em;
}

#main-container h4{
    font-weight: bold;    
}

#main-container .axis.x text{
    font-size: 1.3em;    
}

#dc-table-graph{
    width: 75%;
    border: groove;
}

#dc-table-graph th{
    text-align: center;
    width: 25%;
}

#dc-table-graph td{
    border: medium;
}

.dc-table-group{
    visibility: collapse;
    /*visibility: hidden;*/
}



/*----------------------------
        end: household
-----------------------------*/
/*----------------------------
        Begin: Users
-----------------------------*/
table#user-signup .label, .field, .errors{
      width: 25%;
}

table#user-signup{
	border: none;
	width: 800px;
}

table#user-signup td{
	height: 2em;
	border: none;
}

table#user-signup .errorlist li{
      color: red;
      list-style-type: none; 
}

#signup-button{
      position: relative;
      left: 0px;
}

table#user-login .label, .field, .errors{
    width: 25%;
}

table#user-login{
	border: none;
	width: 800px;
}

table#user-login td{
	height: 2em;
	border: none;
}

table#user-login .errorlist li{
      color: red;
      list-style-type: none; 
}

#login-button{
      position: relative;
      left: 0px;
}   

/*----------------------------
        End: Users
-----------------------------*/


